
.bugs{
	position: relative;
	margin: 15px;
	height: 100px;
	width: 70%;


}

a:hover {
	text-decoration: underline #ff165c;
}

.container {
	background-color: black;
	/*this makes the border and the padding grow inside rather than outside the box*/
	box-sizing: border-box;
}

div + div  {
	color: aqua;
}

p {
	margin: 15px;
}